@import '../../../Variables/Variables.scss';

.modifyPassword {
  @include formStyle;
  gap: 0.5rem;
  min-height: 80vh;
  @include flex;
  flex-direction: column;
  bordeR: 3px solid $newColorBackGrounds;
  
  @include media-down(iphone){
    @include grid;
 }

  input {
    @include sizeInputs;
  }


  .old {
    color: red;
  }

  .new {
    color: rgb(37, 116, 31);
  }



  .message {
    @include flex;
    justify-self: center;
  }

  .buttonsContainer {
    @include flex;
    text-align: center;
    margin: 0;
    margin-left: 0;

    .changePassword {
      @include buttonFormStyle;
      width: 7rem;
      margin-left: 3.4rem;



    }

    .changePassword:hover {
      color: white;
      background-color: $newColorBackGrounds;


    }

    .goBack {
      @include buttonFormStyle;
      margin-left: 3.4rem;
      width: 7rem;
    }

    .goBack:hover {
      background-color: $newColorBackGrounds;
      color: white;

    }
  }



}




  
